{{ "<!-- footer -->" | safeHTML }}

<footer>
    <div class="container">
        <div class="card">
            <div class="card-body py-2">
                <p class="card-text text-center">
                    <i class="fa fa-code"></i>&nbsp;
                    <a href="/">piLinux</a>&nbsp;-&nbsp;
                    Content available under a Creative Commons license&nbsp;
                    <i class="fa fa-creative-commons"></i>&nbsp;
                    <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a>&nbsp;
                    unless otherwise specified.&nbsp;|&nbsp;
                    <a href="https://status.pilinux.me" target="_blank"><sub>Status</sub></a>
                </p>
            </div>
        </div>
        <br>
        <p class="text-center">
            <a href="//www.iubenda.com/privacy-policy/8139756" class="iubenda-white iubenda-embed" title="Privacy Policy">
                Privacy Policy
            </a>
            <script type="text/javascript">
                (function (w,d) {
                    var loader = function () {
                        var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                        s.src = "//cdn.iubenda.com/iubenda.js";
                        tag.parentNode.insertBefore(s,tag);
                    };
                    if(w.addEventListener){
                        w.addEventListener("load", loader, false);
                    }
                    else if(w.attachEvent){
                        w.attachEvent("onload", loader);
                    }
                    else{
                        w.onload = loader;
                    }
                })(window, document);
            </script>
        </p>
    </div>
</footer>
