{{ "<!-- footer -->" | safeHTML }}

<footer>
    <div class="container">
        <div class="card">
            <div class="card-body py-2">
                <p class="card-text text-center">
                    <i class="fa fa-code"></i>&nbsp;<a href="/">piLinux</a>&nbsp;-
                    Content available under a Creative Commons license
                    <i class="fa fa-creative-commons"></i>&nbsp;<a href="https://creativecommons.org/licenses/by-sa/4.0"
                                                                   target="_blank" rel="noreferrer">CC BY-SA 4.0</a>
                    unless otherwise specified.&nbsp;|
                    <a href="https://www.iubenda.com/privacy-policy/8139756" target="_blank" rel="noreferrer">
                        Privacy Policy
                    </a>|
                    <a href="https://status.pilinux.me" target="_blank" rel="noreferrer"><sub>Status</sub></a>
                </p>
            </div>
        </div>
        <br>
    </div>
</footer>
